/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './_colors.scss';
@use './_fonts.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 37.5rem;
  margin-inline: auto;

  &__header {
    padding: 3.5rem 2.875rem;
    background-image: url(../img/bg-img.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    font-weight: 400;
    color: colors.$white;

    &-title {
      font-size: 2.4375rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    &-subtitle {
      font-size: 1.4014rem;
      line-height: 0.875rem;
    }
  }

  &__body {
    position: relative;
    padding: 4.1875rem 2.875rem 2.8125rem 2.875rem;
    font-weight: 400;

    &-payment {
      position: absolute;
      inset-block-start: 58px;
      inset-inline-start: 38px;
      inset-inline-end: 38px;
      background-color: colors.$white;
      filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));

      &-title {
        font-family: fonts.$tertiary-ff;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        margin-block: 46px;
      }

      &-form {
        padding: 0 24px 30px 24px;

        &>* {
          width: 100%;
          margin-block-start: 24px;
        }

        &>*:first-child {
          margin-block-start: 0;
        }
      }

      &-input {
        padding: 16px 26px 13px 26px;
        font-family: fonts.$tertiary-ff;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: colors.$black;
        border: 1px solid colors.$gray;
        border-radius: 3.88991px;

        &::placeholder {
          color: colors.$gray;
        }
      }

      &-submit {
        width: 100%;
        margin-block-start: 46px;
        padding-block: 16px 13px;
        font-family: fonts.$tertiary-ff;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        color: colors.$white;
        background: colors.$green;
        border-radius: 3.88991px;
      }
    }

    &-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.8125rem;

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding-block-end: 3.1875rem;
        border-block-end: 0.0625rem solid #d2d2d2;

        &-info {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 1.9375rem;
          width: fit-content;
        }

        &-img {
          display: block;
          width: 4.375rem;
          height: auto;
        }

        &-details {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.5rem;
        }

        &-name {
          font-weight: inherit;
          font-size: 1.75rem;
          line-height: 1.0625rem;
        }

        &-desc {
          font-weight: inherit;
          font-size: 1rem;
          line-height: 1.5rem;
          color: colors.$gray;
        }

        &-price {
          font-weight: inherit;
          font-size: 1.25rem;
          line-height: 1.5rem;
        }

        &-btn {
          font-family: fonts.$secondary-ff;
          font-weight: 200;
          font-size: 2rem;
          line-height: 100%;
          padding: 0;
          border: 0.0938rem solid #dedede;
          width: 3.125rem;
          height: 3.125rem;
          border-radius: 50%;
          margin-block-start: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }

  &__footer {
    padding-inline: 2.875rem;

    &-title {
      font-weight: inherit;
      font-size: 1.75rem;
      line-height: 1.0625rem;
      margin-bottom: 4rem;
      text-align: center;
    }

    &-order {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1.375rem;
      padding-block-end: 1.9375rem;
      border-block-end: 0.125rem solid #393333;

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1.75rem;
        line-height: 1.0625rem;

        &-name {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-weight: inherit;
        }

        &-btn {
          padding: 0;
          border: none;
          margin-inline-start: 0.8125rem;
          font-size: 0.75rem;
          line-height: 1.5rem;
          color: colors.$gray;
          cursor: pointer;
        }

        &-price {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }

      &-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1.75rem;
        line-height: 1.0625rem;
        margin-block-start: 0.875rem;
        margin-block-end: 3.3125rem;

        &-name {
          font-weight: inherit;
        }

        &-price {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }

      &-btn {
        display: block;
        width: 100%;
        padding: 1rem 0;
        margin-block-end: 3.3125rem;
        font-family: fonts.$tertiary-ff;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: colors.$white;
        background-color: colors.$green;
        border: none;
        box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
        border-radius: 0.1875rem;
        cursor: pointer;
      }
    }
  }
}